<% @expenses.each do |expense| %> 
<li>
<div class="card mb-3">
  <div class="row g-0 d-flex">
    <div class="col-4">
      <%= render_image(expense)%>
      
    </div>
    <div class="col-8">
      <div class="card-body">
      
        <div class="row">
            <div class="col-6"><%= expense.name %></div>
            <div class="col-6 card-title"><h6 class="card-title"> <%= number_to_currency(expense.amount) %></h6></div>
            
        </div>
        <div class="row">
            <div class="col-6">
                <p class="card-text"><small class="text-muted"><%= expense.created_at.strftime("%Y/%m/%d") %></small></p>
            </div>
            <div class="col-6">
                <p class="card-text"><small class="text-muted"><%= expense.author.name %></small></p>
            </div>
        </div>
        <div class="btn-group" role="group" >
          <%= link_to 'Show', expense, class: "btn btn-outline-primary" %>
          <%= link_to 'Edit', edit_expense_path(expense), class: "btn btn-outline-primary" %>
          <%= link_to 'Destroy', expense,class: "btn btn-outline-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
     
        </div>
      </div>
    </div>
  </div>
</div>
</li>
<% end %>