<p id="notice"><%= notice %></p>


<article>
  <h3>
    Expenses
  </h3>
  
  <div class="row mb-4">
  <div class="card">
    <div class="row p-2">
      <div class="col"><h5 class="card-title"> Total: </h5></div>
      <div class="col"><h5 class="card-title"> <%= number_to_currency(Expense.calculate(:sum, :amount)) %></h5></div>
      <div class="col"><%= 
            link_to 'Download',
            download_expenses_path(format: :xlsx),
            data: {turbolinks: false},
            class: 'btn btn-primary btn-sm'
          %></div>
    </div>
  </div>
    
  </div>
  <ul class="list-unstyled"> 
    <%= render partial: 'expenses/card'%>
  </ul>
</article>

<br>

<%= link_to 'New Expense', new_expense_path, class: "btn btn-success w-100" %>
