<!DOCTYPE html>
<html>
  <head>
    <title>Expenses tracker</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      feather.replace()
        console.log("DOM fully loaded and parsed");
    });
      
    </script>
  </head>

  <body class="bg-light"> 
  <%= render 'layouts/navbar' %>
  <div class="container-fluid ">
    <div class="row">
    

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
           
             <%= link_to expenses_path, class: 'nav-link active' do %>
              <span data-feather="home"></span>
                All my expenses
            <% end%>
          </li>
          <li class="nav-item">
             <%= link_to external_expenses_path, class: 'nav-link' do %>
              <span data-feather="file"></span>
                All my external expenses
            <% end%>
          
          </li>
         
          <li class="nav-item">
          <%= link_to groups_path, class: 'nav-link' do %>
              <span data-feather="users"></span>
                All my groups
            <% end%>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light">
      <%= yield %>
    </main>
    </div>
  </div>
  
  </body>
</html>
